html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  * {
    font-family: "Pretendard", sans-serif;
}
    
.container {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.left-text {
    position: absolute;
    left: 55px;
    top: 160px;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.right-text {
    position: absolute;
    right: 50px;
    top: 20%;
    transform: translateY(-30%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.copyright {
    position: absolute;
    right: 40px;
    bottom: 30px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
}
